body {
    background-color: hsl(211, 41%, 20%);
    color: hsl(60, 1%, 83%);
    font-family: 'Montserrat', sans-serif;
}

#timer-container,
#question,
#answers,
#question-result,
#game-result{
    display: none;
}

.game-container{
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px auto auto ;
}

#answers {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 40px;
}

.answer {

}
.main-header {
    margin: 0 auto;
    max-width: 960px;
    text-align: center;
}

#game-header,
#timer-container,
#question {
    text-align: center;
}
#start {
    margin: 0 auto;
}


